extends ../layout.pug

block variable 
    - var template = 'about'

block content
    .about
        section.about__gallery
            .about__gallery__wrapper
            each media in about.data.gallery
                figure.about__gallery__media
                    img.about__gallery__media__image(alt=media.image.alt src=media.image.url)
        each section in about.data.body
            if section.slice_type == 'title'
                h2.about__title=section.primary.text